<div class="banner-container" style="position: relative;">
  <%= image_tag("atcine.jpg", class: "banner-img") %>
  <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
    <h2 class="list-name"><%= @list.name %></h2>
  </div>
</div>
<% if @list.present? && @list.persisted? %>
  <%= link_to "Delete", list_path(@list.id), data: {turbo_method: :delete, turbo_confirmation: "Estas seguro/a que quieres borrar este registro?"} %>
<% end %>
