<div class="container py-4"
  <% @movies.each do |movie| %>
    <%= image_tag movie.poster_url %>
    <h3><%= movie.title %></h3>
    <p class="text-muted"><%= movie.overview %></p>
  <% end %>
</div>
