<nav class="navbar navbar-dark bg-dark p-2">
  <a class="navbar-brand m-1" href="#">Watch-List</a>
  <form class="form-inline my-2 my-lg-0">
    <%= link_to "My Lists", new_list_path, class: "btn btn-outline-warning m-2 my-sm-0" %>
    <%= link_to "New List", new_list_path, class: "btn btn-outline-warning my-2 my-sm-0" %>
  </form>
  </div>
</nav>
